<html>
    <head>
        <title>User Interests</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

<form action="/interests" method="post">

  

  <fieldset class="checkbox-group">
    <legend class="checkbox-group-legend">Adventure Interests</legend>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="hk" value="hiking"/>
        <span class="checkbox-tile">
          <span class="checkbox-label">Hiking</span>
        </span>
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="trv" value="traveling">
        <span class="checkbox-tile">
          <span class="checkbox-label">Traveling</span>
        </span>
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="clb" value="clubing">
        <span class="checkbox-tile">
          <span class="checkbox-label">Clubing</span>
        </span>
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="sk" value="skydiving">
        <span class="checkbox-tile">
          <span class="checkbox-label">Skydiving</span>
        </span>
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="xp" value="exploring">
        <span class="checkbox-tile">
          <span class="checkbox-label">Exploring</span>
        </span>
      </label>
    </div>
  </fieldset>



  <fieldset class="checkbox-group">
    <legend class="checkbox-group-legend">Favorite Music Genres</legend>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="hp" value="hip hop">
        <span class="checkbox-tile">
          <span class="checkbox-label">Hip Hop</span>
        </span>
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="pop" value="pop">
        <span class="checkbox-tile">
          <span class="checkbox-label">Pop</span>
        </span>
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="rk" value="rock">
        <span class="checkbox-tile">
          <span class="checkbox-label">Rock</span>
        </span>
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="rb" value="rnb">
        <span class="checkbox-tile">
          <span class="checkbox-label">R&B</span>
        </span>
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="clsc" value="classical">
        <span class="checkbox-tile">
          <span class="checkbox-label">Classical</span>
        </span>
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input"name="ctry" value="country">
        <span class="checkbox-tile">
          <span class="checkbox-label">Country</span>
        </span>
      </label>
    </div>
  </fieldset>




  <fieldset class="checkbox-group">
    <legend class="checkbox-group-legend">Favorite Movies/Series Genres</legend>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="comdy" value="comedy">
        <span class="checkbox-tile">
          <span class="checkbox-label">Comedy</span>
        </span>
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="hor" value="horror">
        <span class="checkbox-tile">
          <span class="checkbox-label">Horror</span>
        </span>
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="actn" value="action">
        <span class="checkbox-tile">
          <span class="checkbox-label">Action</span>
        </span>
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="drm" value="drama">
        <span class="checkbox-tile">
          <span class="checkbox-label">Drama</span>
        </span>
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="scf" value="science fiction">
        <span class="checkbox-tile">
          <span class="checkbox-label">Science Fiction</span>
        </span>
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input type="checkbox" class="checkbox-input" name="hist" value="historical">
        <span class="checkbox-tile">
          <span class="checkbox-label">Historical</span>
        </span>
      </label>
    </div>
  </fieldset>

<br><br>
<button type="submit" class="centerz">Done</button>
<br><br>
</form>


  </body>
  </html>