html,
body {
  height: 100%;
  color: #4a4a4a;
}
.toggle-button {
  position: fixed;
  z-index: 15;
  top: 20px;
  height: 38px;
  right: 20px;
  width: 38px;
  background-color: #650b60;
  padding: 0;
}
.toggle-button .fa-arrows-alt {
  display: none;
  color: rgb(255, 246, 246);
}
.sidebar {
  height: 100%;
  min-height: 400px;
  width: 0px;
  background: rgb(153,42,126);
  background: -moz-linear-gradient(210deg, rgba(153,42,126,1) 0%, rgba(80,33,168,1) 47%, rgba(121,5,193,1) 69%);
  background: -webkit-linear-gradient(210deg, rgba(153,42,126,1) 0%, rgba(80,33,168,1) 47%, rgba(121,5,193,1) 69%);
  background: linear-gradient(210deg, rgba(153,42,126,1) 0%, rgba(80,33,168,1) 47%, rgba(121,5,193,1) 69%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#992a7e",endColorstr="#7905c1",GradientType=1);
  color: #f7f7f7;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.sidebar.active {
  z-index: 10;
  width: 200px;
}
.sidebar .profile,
.sidebar .nav {
  min-width: 200px;
}
.sidebar .profile {
  padding: 50px 20px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 3px;
}
.sidebar .profile > span {
  display: block;
}
.sidebar .profile .owner {
  font-weight: bold;
}
.sidebar .profile .roll {
  color: rgba(247, 247, 247, 0.966);
}
.sidebar .nav {
  list-style: none;
}
.sidebar .nav li {
  margin-bottom: 10px;
}
/* .sidebar .nav li.active .abt {
  color: #141111;
  border: none;
} */
/* .sidebar .nav li .abt {
  height: 22px;
  line-height: 22px;
  display: block;
  color: #7090c8;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0 0 14px;
} */
/* .sidebar .nav li .abt{
  margin-right: 2px;
} */
/* .sidebar .nav li .abt:hover,
.sidebar .nav li .abt:focus {
  color: #110e0e;
  outline: none;
} */

.abt{
  border: none;
  width: 52%;
  margin-bottom: 19px;
  color: #111010;
  cursor: pointer;
  background-color:#ffffffea;
  font-size: 14px;
  letter-spacing: 3px;
}



.abt:hover{
  background-color: #1f618c;
  color: rgb(245, 245, 245);
}


.sidebar .settings {
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-size: 24px;
  color: #7090c8;
}
.sidebar .settings:hover,
.sidebar .settings:focus {
  color: #f7f7f7;
  outline: none;
}
@media screen and (min-width: 550px) {
  body {
    margin-left: 200px;
  }
  body.non-margin {
    margin-left: 0px !important;
  }
  .toggle-button .fa-bars {
    display: none;
  }
  .toggle-button .fa-arrows-alt {
    display: block;
  }
  .sidebar {
    z-index: 10;
    width: 200px;
  }
  .sidebar.active {
    width: 0px;
  }
}
article {
  margin: 4px 0;
}
article p {
  line-height: 1.9em;
}
article .media {
  text-align: center;
}
article .media span {
  color: #fffbfb;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
article .media img {
  width: 100%;
}
article .title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}
article .subtitle {
  color: #aeaeae;
}
article .post-data {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  color: #d9d9d9;
  float: right;
  padding: 50px;
  letter-spacing: 3px;
}






.btnRmv{
  border: none;
  background-color: #7e0a35;
  border-radius: 3px;
  color: #f7f7f7;
  cursor: pointer;
}

.btnRmv:hover{
  background-color: #b41750;
}

.btnch{
  border: none;
  background-color: #044721;
  border-radius: 3px;
  color: #f7f7f7;
  cursor: pointer;
}

.btnch:hover{
  background-color: #0a7136;
}

.btnchs{
  border: none;
  background-color: #1b0762;
  border-radius: 3px;
  color: #f7f7f7;
  cursor: pointer;
}

.btnchs:hover{
  background-color: #280b90;
}

.btmn{
  margin-top: 130%;
  margin-right: 50px;
  
}

.btt{
  border: none;
  width: 70%;
  color: #000000;
  cursor: pointer;
  letter-spacing: 2px;
}



.btt:hover{
  background-color: #1f618c;
  color: rgb(245, 245, 245);
}


    


.containerzz{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: #ffffff;
    margin-top: -62px;

    }
     
    .background{
        width: 430px;
        height: 520px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 30%;
    }
    .background .shape{
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }
    .shape:first-child{
        background: linear-gradient(
            #1845ad,
            #23a2f6
        );
        left: -80px;
        top: -80px;
    }
    .shape:last-child{
        background: linear-gradient(
            to right,
            #6e0d84,
            #bb37cf
        );
        right: -30px;
        bottom: -80px;
    }
     
    .wrapper,
    .wrapper .img-area{
    background-color: rgba(255, 255, 255, 0.901);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    }
    
    .wrapper{
    position: relative;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    }                                      
    
    .wrapper .img-area{                    
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(153,42,126);
    background: -moz-linear-gradient(210deg, rgba(153,42,126,1) 0%, rgba(80,33,168,1) 47%, rgba(121,5,193,1) 69%);
    background: -webkit-linear-gradient(210deg, rgba(153,42,126,1) 0%, rgba(80,33,168,1) 47%, rgba(121,5,193,1) 69%);
    background: linear-gradient(210deg, rgba(153,42,126,1) 0%, rgba(80,33,168,1) 47%, rgba(121,5,193,1) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#992a7e",endColorstr="#7905c1",GradientType=1);
    }
    .img-area .inner-area{
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
    }
    .inner-area img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    }
    .wrapper .name{                        
    font-size: 23px;
    font-weight: 500;
    color: rgb(1, 1, 1);
    margin: 10px 0 5px 0;
    }
    .wrapper .about{
    color: #292929;
    font-weight: 400;
    font-size: 16px;
    }
    .wrapper .social-icons{
    margin: 15px 0 25px 0;
    }
    .social-icons a{
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
    }
    

                                  
    
    
    table, th{
      border: none;
      border-collapse: collapse;
      margin-bottom: 20px;
      margin-top: 10px;
    }
    th {
      padding-top: 8px;
      padding-bottom: 6px;
      padding-left: 12px;
      padding-right: 10px;
      color: rgb(16, 16, 16);
    }
    
    




    .botonz{
        border: none;
        width: 100%;
        margin: auto;
        color: #fffcfc;
        cursor: pointer;
        background:#5d0777;
        font-size: 14px;
        letter-spacing: 3px;
        padding: 10px;
        border-radius: 5px;
      }
      
      
      
      .botonz:hover{
        background-color: #8e1eb0;
        color: rgb(245, 245, 245);
      }